<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Crear Producto', style: '/css/styleProductCreate.css'}) %> 

<body>
    <%- include ("../partials/header") %> 
    
    <h2>Crear Producto</h2>
    <form action="/products/create" method="POST" enctype="multipart/form-data">

        <div class="form-control">
            <label for="name">Nombre del Producto:</label>
            <input type="text" name="name" class="txt-control">
        </div>

        <div class="form-control">
            <label for="description">Descripción:</label>
            <textarea name="description" cols="30" rows="10" class="txt-control"></textarea>
        </div>

        <div class="form-control">
            <label for="image">Fotos del producto:</label>
            <input type="file" name="image" accept="image/*">
        </div>

        <div class="form-control">
            <label for="price">Precio:</label>
            <input type="number" name="price" class="txt-control">
        </div>
        
        <div class="form-control">
            <label for="category">Categoría:</label>
            <select name="category" >
                <% categories.forEach(category => { %>

                    <option value="<%= category.id %>"><%= category.category_name %></option>

                <% }) %>
            </select>
        </div>
        <div class="form-control">
            <label for="size">Talle:</label>
            <select name="size" >
                <% sizes.forEach(size => { %>

                    <option value="<%= size.id %>"><%= size.size_name %></option>
                 
                <% }) %>   
            </select>
        </div>

        

        <div class="botones">
            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>

