<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Eliminar producto', style: '/css/styleHome.css'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <br>
    <h1>Seguro de <span>ELIMINAR</span> el producto: <%= product.name %>? </h1>
    <form action="/products/delete/<%=product.id%>?_method=DELETE" method="POST">
        <div class="botones">
            <button type="submit">ELIMINAR</button>
            <a class="volver" href="/products/detail/<%=product.id%>">VOLVER</a>
        </div>
    </main>
    
</body>
</html>